<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  
   <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <title>SnapPack Results</title>
  </head>
  <body>
  <h1>What you need to bring!</h1>
  
   <h2><%=@answer%></h2>
   
   
   
  </body>
</html>
   
   
   
  </body>
</html>